body {
     font-family:'Times New Roman', Times, serif;
    background-color:aliceblue;
    margin:0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: rgb(252, 246, 246);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.left-section {
    background-color:navy;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    margin-bottom: 20px;
    
}

h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(84, 84, 178);
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type:fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family:'Times New Roman', Times, serif; 
    cursor: pointer; 
    margin-top: 10px;
    font-size: 20px; 
    border: width 30px;
    padding: 2%;
    margin: 20px 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(84, 84, 178);
    background-color: navy;
}

button:hover {
    background-color:white;

}